<table class="table table-striped table-hover table-condensed table-bordered">
	<thead>
		<tr>
			{{#each headers}}
			<th>{{caption}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each rows}}
		<tr>
			{{#each this}}
			<td>
				{{#if isCheckbox}}
				<input type="checkbox" {{#if content.checked}}checked="checked"{{/if}} {{#if content.value}}value="{{content.value}}"{{/if}} {{#if content.name}}name="{{content.name}}"{{/if}}/>
				{{/if}}

				{{#if isRadio}}
				<input type="radio" {{#if content.checked}}checked="checked"{{/if}} {{#if content.value}}value="{{content.value}}"{{/if}} {{#if content.name}}name="{{content.name}}"{{/if}}/>
				{{/if}}

				{{#if isHtml}}
				{{{content}}}
				{{/if}}

				{{#if isSelect}}
				<select>
					{{#each content.options}}
					<option value="{{content.value}}" {{#if content.selected}}selected="selected"{{/if}}>{{content.text}}</option>
					{{/each}}
				</select>
				{{/if}}

				{{#if isLink}}
				<a href="{{content.href}}">{{content.text}}</a>
				{{/if}}

				{{#if isText}}
				{{content}}
				{{/if}}
			</td>
			{{/each}}
		</tr>
		{{/each}}
	</tbody>
</table>